<!-- INíCIO do CONTEÚDO -->
<!-- Component Restaurant  -->
<section class="content-header">
  <h1>
    Todos os Restaurantes
    <!-- função para aparece a barra -->
    <a (click)="toggleSearch()" class="search-link pull-right">
      <span *ngIf="iptSearch.value"><small>{{iptSearch.value}}</small></span> <i class="fa fa-search"></i></a>
      <!-- um span q esta´associado ao valor do input === true ele motra o valor ao lado da lupa -->
  </h1>

  <!-- barra de busca -->
  <div class="row">
                                        <!-- Associação ao trigguer e estado inicial -->
    <div class="col-xs-12 search-bar" [@toggleSearch]="searchBarState">
      <form [formGroup]="searchForm"> <!--Associado forGroup ts-->
        <div class="form-group">
          <!-- Associado ao formControl ts -->
          <input type="text" #iptSearch formControlName="searchControl" class="form-control" placeholder="O que você está procurando?"/>
          <!-- #iptSearch associa a ngIf no span -->
        </div>
      </form>
    </div>
  </div>
</section>
<!-- teste -->
<!-- teste -->


<section class="content">

  <div class="row">
    <div *ngFor='let restaurant of restaurants' class="col-sm-6 col-xs-12">
      <mt-restaurant [restaurant]="restaurant"></mt-restaurant>
    </div>
    <!-- campo se a busca não retorna nenhum restaurante, mostra esse campo -->
    <div *ngIf="restaurants?.length === 0" class="col-xs-12">
      <p class="lead text-center">
        Não foram encontrados items para sua busca.
      </p>
    </div>
  </div>

</section>

<!-- FIM  do CONTEÚDO -->
